.card {
  border-radius: 16px;
  overflow: hidden;
  background-color: rgb(200, 236, 250);
  height: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  text-align: center;
}

.textContainer .title {
  font-size: 18px;
  font-weight: bold;
}
