.header {
  padding: 16px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}

.main {
  padding: 16px;
  margin-top: 68px;
}
